body {
    height: 1000vh;
    margin: 50px;
}

div {
    margin: 10px;
}

span{
    background-color: lightcoral;
}

span:nth-child(even) {
    background-color: lightgreen;
}

.second span:nth-child(3n+1) {
    background-color: wheat;
}