/*https://developer.mozilla.org/ko/docs/Web/CSS/CSS_Box_Model/Mastering_margin_collapsing*/
html {
    background-color: tomato;
}
body {
    margin: 50px 10px;
    background-color: thistle;
    padding: 20px;
}

* {
    border: 2px solid;
    border-color: black;
}

#first {
    background-color: darkgreen;
    height: 300px;
    width: 300px;
}

#second {
    background-color: gold;
    height: 250px;
    width: 250px;
    margin: 25px;
}

#third {
    background-color: greenyellow;
    height: 200px;
    width: 200px;
    margin: 25px;
}